.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0;
}

.header__navs {
  display: flex;
  gap: 30px;
}

.header__nav {
  color: white;
  cursor: pointer;
}

.header__button {
  background-color: black;
  color: white;
  border: 0;
  cursor: pointer;
}
