.form {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  max-width: 350px;
  width: 100%;
  padding: 25px;
  gap: 10px;
}

.form__title {
  color: white;
  text-align: center;
}

.form__input {
  height: 25px;
  background-color: black;
  color: white;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid white;
}

.form__submit {
  margin: 50px 0 0;
  height: 50px;
  cursor: pointer;
}

.form__submit_disable {
  pointer-events: none;
  background-color: gray;
  margin: 50px 0 0;
  height: 50px;
  cursor: none;
}

.form__text {
  color: white;
  text-align: center;
}

.form__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.login {
  background-color: black;
}

.form__error {
  min-height: 14px;
}